<header class="border-b border-gray-300 border-dotted">
  <nav class="py-8 flex justify-between container mx-auto px-4 items-center">
    <a routerLink="/">
      <h1 class="text-4xl font-semibold">
        My<span class="text-blue-500">S</span>
        <span class="text-green-500">Q</span>
        <span class="text-orange-500">P</span>
      </h1>
    </a>
    <ul class="flex items-center space-x-12">
      <app-user-options />
      <li class="bg-gray-900 px-9 py-3 rounded-xl text-gray-50 font-semibold">
        <a routerLink="/login">Create Now!</a>
      </li>
    </ul>
  </nav>
</header>
